<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Form</title>
</head>
<body>
    <form action="/" method="POST" style="text-align: center; border: 1px solid black;">
        <p>FirstName</p>
        <input type="text" placeholder="Enter ur first name" name="Name" required>
        <p>LastName</p>
        <input type="text" placeholder="Enter ur last name" name="Surname" required>
        <p>Age</p>
        <input type="number" placeholder="Enter ur age" name="Age" required> <br>
        <button type="submit">SUBMIT</button>
    </form>
</body>
<style>
    p {
        font-size: 20px;
        color: blue;
        margin-top: 50px;
    }
    input {
        padding : 10px;
        height: 20px;
        width: 200px;
        margin-top: 10px;
    }
    button {
        background-color: red;
        border: none;
        padding: 7px;
        color: white;
        font-size: 15px;
        font-weight: bold;
        margin-top: 100px;
        margin-bottom: 70px;
    }
    button:hover {
        color : black;
        background-color: pink;
    }
</style>
</html>